/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Open Sans', sans-serif;
}

.nk-sidebar+.nk-wrap>.nk-header-fixed,
.nk-sidebar-overlay+.nk-wrap>.nk-header-fixed {
    left: 290px;
}


.custom-conatiner {
    display: flex;
}